In [1]:
#!pip install instaloader

In [2]:
import instaloader
import pandas as pd
import networkx as nx

C:\Users\Usuario\anaconda3\lib\site-packages\win_unicode_console\__init__.py:31: RuntimeWarning: sys.stdin.encoding == 'cp1252', whereas sys.stdout.encoding == 'UTF-8', readline hook consumer may assume they are the same
  readline_hook.enable(use_pyreadline=use_pyreadline)

In [3]:
"""login_name = 'USERNAME'

target_profile = 'YOUR-TARGET-PROFILE'

from instaloader import Instaloader, Profile
loader = Instaloader()

# login
try:
    loader.load_session_from_file(login_name)
except FileNotFoundError:
    loader.context.log("Session file does not exist yet - Logging in.")
if not loader.context.is_logged_in:
    loader.interactive_login(login_name)
    loader.save_session_to_file()

profile = Profile.from_username(loader.context, target_profile)
followers = profile.get_followers()
followees = profile.get_followees()

loader.context.log()
loader.context.log('Profile {} has {} followees and {} followers:'.format(profile.username, profile.followees, profile.followers))
loader.context.log()

for followee in followees:
    file = open("kendalljenner.txt","a+")
    for followee in followees:
        username = followee.username
        file.write(username + "\n")
        print(username)
file.close()"""

'login_name = \'USERNAME\'\n\ntarget_profile = \'YOUR-TARGET-PROFILE\'\n\nfrom instaloader import Instaloader, Profile\nloader = Instaloader()\n\n# login\ntry:\n    loader.load_session_from_file(login_name)\nexcept FileNotFoundError:\n    loader.context.log("Session file does not exist yet - Logging in.")\nif not loader.context.is_logged_in:\n    loader.interactive_login(login_name)\n    loader.save_session_to_file()\n\nprofile = Profile.from_username(loader.context, target_profile)\nfollowers = profile.get_followers()\nfollowees = profile.get_followees()\n\nloader.context.log()\nloader.context.log(\'Profile {} has {} followees and {} followers:\'.format(profile.username, profile.followees, profile.followers))\nloader.context.log()\n\nfor followee in followees:\n    file = open("kendalljenner.txt","a+")\n    for followee in followees:\n        username = followee.username\n        file.write(username + "\n")\n        print(username)\nfile.close()'

In [4]:
"""login_name = 'USERNAME'

target_profile = 'YOUR-TARGET-PROFILE'

from instaloader import Instaloader, Profile
loader = Instaloader()

# login
try:
    loader.load_session_from_file(login_name)
except FileNotFoundError:
    loader.context.log("Session file does not exist yet - Logging in.")
if not loader.context.is_logged_in:
    loader.interactive_login(login_name)
    loader.save_session_to_file()

profile = Profile.from_username(loader.context, target_profile)
followers = profile.get_followers()
followees = profile.get_followees()

loader.context.log()
loader.context.log('Profile {} has {} followees and {} followers:'.format(profile.username, profile.followees, profile.followers))
loader.context.log()

for followee in followees:
    file = open("kimkardashian.txt","a+")
    for followee in followees:
        username = followee.username
        file.write(username + "\n")
        print(username)
file.close()"""

'login_name = \'USERNAME\'\n\ntarget_profile = \'YOUR-TARGET-PROFILE\'\n\nfrom instaloader import Instaloader, Profile\nloader = Instaloader()\n\n# login\ntry:\n    loader.load_session_from_file(login_name)\nexcept FileNotFoundError:\n    loader.context.log("Session file does not exist yet - Logging in.")\nif not loader.context.is_logged_in:\n    loader.interactive_login(login_name)\n    loader.save_session_to_file()\n\nprofile = Profile.from_username(loader.context, target_profile)\nfollowers = profile.get_followers()\nfollowees = profile.get_followees()\n\nloader.context.log()\nloader.context.log(\'Profile {} has {} followees and {} followers:\'.format(profile.username, profile.followees, profile.followers))\nloader.context.log()\n\nfor followee in followees:\n    file = open("kimkardashian.txt","a+")\n    for followee in followees:\n        username = followee.username\n        file.write(username + "\n")\n        print(username)\nfile.close()'

In [5]:
"""login_name = 'USERNAME'

target_profile = 'YOUR-TARGET-PROFILE'

from instaloader import Instaloader, Profile
loader = Instaloader()

# login
try:
    loader.load_session_from_file(login_name)
except FileNotFoundError:
    loader.context.log("Session file does not exist yet - Logging in.")
if not loader.context.is_logged_in:
    loader.interactive_login(login_name)
    loader.save_session_to_file()

profile = Profile.from_username(loader.context, target_profile)
followers = profile.get_followers()
followees = profile.get_followees()

loader.context.log()
loader.context.log('Profile {} has {} followees and {} followers:'.format(profile.username, profile.followees, profile.followers))
loader.context.log()

for followee in followees:
    file = open("travisscott.txt","a+")
    for followee in followees:
        username = followee.username
        file.write(username + "\n")
        print(username)
file.close()"""

'login_name = \'USERNAME\'\n\ntarget_profile = \'YOUR-TARGET-PROFILE\'\n\nfrom instaloader import Instaloader, Profile\nloader = Instaloader()\n\n# login\ntry:\n    loader.load_session_from_file(login_name)\nexcept FileNotFoundError:\n    loader.context.log("Session file does not exist yet - Logging in.")\nif not loader.context.is_logged_in:\n    loader.interactive_login(login_name)\n    loader.save_session_to_file()\n\nprofile = Profile.from_username(loader.context, target_profile)\nfollowers = profile.get_followers()\nfollowees = profile.get_followees()\n\nloader.context.log()\nloader.context.log(\'Profile {} has {} followees and {} followers:\'.format(profile.username, profile.followees, profile.followers))\nloader.context.log()\n\nfor followee in followees:\n    file = open("travisscott.txt","a+")\n    for followee in followees:\n        username = followee.username\n        file.write(username + "\n")\n        print(username)\nfile.close()'

In [6]:
khloe = pd.read_csv('khloe.txt', sep=" ", header=None)

In [7]:
kendall = pd.read_csv('kendalljenner.txt', sep=" ", header=None)

In [8]:
kim = pd.read_csv('kimkardashian.txt', sep=" ", header=None)

In [9]:
travis = pd.read_csv('travisscott.txt', sep=" ", header=None)

In [10]:
khloe.columns = ["following"]
kendall.columns = ["following"]
kim.columns = ["following"]
travis.columns = ["following"]

In [11]:
khloe = khloe.sort_values(by='following', ascending=True).reset_index(drop=True)
kendall = kendall.sort_values(by='following', ascending=True).reset_index(drop=True)
kim = kim.sort_values(by='following', ascending=True).reset_index(drop=True)
travis = travis.sort_values(by='following', ascending=True).reset_index(drop=True)

In [12]:
travis

          following
0         alealimay
1       angelobaque
2    astroworldfest
3       bakanotnice
4   bizzy_copypaste
..              ...
64          trvisxx
65      virgilabloh
66          wttyler
67  younglarrydavid
68     yunglean2001

[69 rows x 1 columns]

In [13]:
kim

                following
0              90sanxiety
1          alabamastatter
2          allisonstatter
3        andrewfitzsimons
4               ash_kholm
5           axelvervoordt
6        axelvervoordt_co
7          chrisappleton1
8           chrissyteigen
9              cicibussey
10             fitgurlmel
11                foodgod
12        foreverkhadijah
13           haileybieber
14           jenatkinhair
15              jesushair
16       kardashiankloset
17          kendalljenner
18        khloekardashian
19            kirbyjenner
20            kkhofficial
21              kkwbeauty
22           kkwfragrance
23        kourtneykardash
24             krisjenner
25            kyliejenner
26                   lala
27    letthelordbewithyou
28          makeupbyariel
29          makeupbymario
30                 malika
31   manfredthierrymugler
32           maryphillips
33               mertalas
34            natalie5382
35          nataliehalcro
36           nikki_makeup
37      olivier_rousteing
38          realtristan13
39        riccardotisci17
40  robkardashianofficial
41              sainthoax
42        samvissermakeup
43               simihaze
44         simoneharouche
45              simonhuck
46                  skims
47            stassiebaby
48             steph_shep
49          styledbyhrush
50           tracyromulus
51          vanessabryant
52          venedaacarter
53       vincentvanduysen
54              virgomood
55             yourboyfai

In [14]:
kendall

      following
0         490tx
1         490tx
2    90sanxiety
3    90sanxiety
4      __s____o
..          ...
427    yungtaco
428     zackbia
429     zackbia
430   zazaworld
431   zazaworld

[432 rows x 1 columns]

In [15]:
khloe

          following
0      adamgoldston
1    adriennebailon
2    alabamastatter
3        alexaokyle
4     amberridinger
..              ...
126    winnieharlow
127  worldwidesavas
128       xivkarats
129      yourboyfai
130      yrispalmer

[131 rows x 1 columns]

In [16]:
kim.isin(travis)

    following
0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
30      False
31      False
32      False
33      False
34      False
35      False
36      False
37      False
38      False
39      False
40      False
41      False
42      False
43      False
44      False
45      False
46      False
47      False
48      False
49      False
50      False
51      False
52      False
53      False
54      False
55      False

In [17]:
travis_list = travis.values.tolist()
kim_list = kim.values.tolist()
khloe_list = khloe.values.tolist()

In [18]:
travis_list

[['alealimay'],
 ['angelobaque'],
 ['astroworldfest'],
 ['bakanotnice'],
 ['bizzy_copypaste'],
 ['bloodyosiris'],
 ['boi1da'],
 ['brockymarciano'],
 ['cactusjack'],
 ['cashxo'],
 ['champagnepapi'],
 ['coreydamonblack'],
 ['david_lachapelle'],
 ['dontoliver'],
 ['dozie.kanu'],
 ['easymoneysniper'],
 ['easyotabor'],
 ['evanmock'],
 ['frankcooker'],
 ['futuretheprince'],
 ['grey93'],
 ['hawkmarley'],
 ['houstonrockets'],
 ['ibnjasper'],
 ['jamesfauntleroyii'],
 ['jamiliooo'],
 ['jjjjound'],
 ['johnmayer'],
 ['jonahhill'],
 ['jordanfame'],
 ['joshhhwebbb'],
 ['jumpman23'],
 ['justinbieber'],
 ['kaws'],
 ['kendalljenner'],
 ['kyliejenner'],
 ['kyrieirving'],
 ['luxurytax50'],
 ['matthewmwilliams'],
 ['michaelrapino'],
 ['mrkimjones'],
 ['nabil'],
 ['ogchaseb'],
 ['oggizery_los'],
 ['oliverelkhatib'],
 ['paulwallbaby'],
 ['poppaheck_'],
 ['rayscorruptedmind'],
 ['realpopsmoke'],
 ['russwest44'],
 ['scottcampbell'],
 ['sethrogen'],
 ['sheckwes'],
 ['spacevillage'],
 ['stormi'],
 ['sweetboydaniel'],
 ['taliban_casino'],
 ['teenageengineering'],
 ['teflontom'],
 ['therealmikedean'],
 ['theweeknd'],
 ['thuggerthugger1'],
 ['tombrady'],
 ['travyscott'],
 ['trvisxx'],
 ['virgilabloh'],
 ['wttyler'],
 ['younglarrydavid'],
 ['yunglean2001']]

In [19]:
kendall.isin(['champagnepapi']).any()

following    True
dtype: bool

### References

* https://medium.com/@maximpiessen/how-i-visualised-my-instagram-network-and-what-i-learned-from-it-d7cc125ef297

* https://instaloader.github.io/